
header {
    min-width: 100vw;
    min-height: 12vh;

    justify-content: center;
    align-items: center;
    align-content: center;
}

.intro-container {
    display: flex;
    align-items: baseline;
}

main {
    display: flex;
    min-height: var(--main-height-size);
}
:root {
    --game-sqare-size: 7vw;
    --main-height-size: 76vh;
}

.game-container {
    flex-direction: column;

    justify-content: center;
    align-items: center;
    align-content: center;
    
    min-width: 100vw;
    max-height: auto;
}

.game-area table td{
	width: var(--game-sqare-size);
    height: var(--game-sqare-size);
}


.game-area .legend {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 4vh;
    
    border-radius: 15px 15px 0 0;;
}

.game-container .game-status {
    width: auto;
    padding: 0.5vh;
    border-radius: 15px;
    margin-top: 1vh;
}

.result-container {
    position: absolute;

    width: 100vw;
    height: var(--main-height-size);

    display: none;
    justify-content: center;
    align-items: center;
}

.result-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    min-height: 40vh;
    min-width: 40vw;

    border-radius: 20px;

    text-align: center;
}

.result-area .game-icon {
    display: block;
    order: 1;

    margin-bottom: 1vh;
}


.result-container .icon {
    position: absolute;
    top: 1vh;
    right: 1vh;
}


a {
    text-decoration: none;
}

header {
    font-size: 5vh;
    background-color: #1f2f40;
    color: whitesmoke;
}

main {
    background-color: white;
    color: black;
}

.game-area table td{
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.8);
}   

.game-container .game-status {
    background-color: #e6514c;
    font-size: 2ch;
}

.game-container .legend {
    background-color: #dea23a;
    font-size: 2.5ch;
}

.game-area table{
    cursor: pointer;
}

.result-container {
    background-color: rgba(255, 255, 255, 0.4);
}

.result-area {
    background-color: whitesmoke;
    color: tomato;
    font-size: 4ch;
    font-weight: bolder;
}

.result-container .icon {
    font-size: 3.6ch;
    cursor: pointer;
}

.game-icon {
    /* margin-left: 1.2vw ; */
    font-size: 6.87vw ;
}

.game-status i {
    font-size: 1.1ch;
} 

.game-icon.ph-x{
    color: #731f54;
}

.game-icon.ph-circle{
    color: #5e9c41
}

footer {
    background-color: #221757 ;
}

footer section, footer section a {
    color: whitesmoke;
    font-size: 1.8ch;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	font-family: 'Roboto', sans-serif;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	min-height: 100vh;
}

header {
    display: flex;
}

.game-container {
	display: flex;
}


footer {
	display: flex;
}